body{
    font-family: "Trebuchet MS", Verdana, sans-serif;
    padding-top: 70px;
    margin:0;
    background: url(../static_images/parchment3.jpg) repeat;
}

nav{
    background:  url(../static_images/sandstone_brick_banner.jpg);
}
.big_title{
    font-style: italic;
}
.city{
    text-decoration: underline;
}
.navbar-nav>li>a {
    color: #777;
}
ul{
    list-style-type: none;
}
#map {
    height: 400px;
    width: 600px;
    background: palegoldenrod;
    border: groove cadetblue 12px;
}
#active{
    background: url(../static_images/sandstone_brick_banner.jpg);
    background-color: transparent;
}
a{
    color: green;
}