body{
    font-family: "Trebuchet MS", Verdana, sans-serif;
    /*padding-top: 70px;*/
    margin:0;
    background: url(../static_images/parchment3.jpg) repeat;
}

nav{
    background:  url(../static_images/sandstone_brick_banner.jpg);
    margin:0;
    overflow: hidden;

}
nav ul{
    margin:0;
    padding: 0;

}
nav ul li{
    display: inline-block;
    list-style-type: none;
}
nav>ul>li>a{
    color: blanchedalmond;
    display: block;
    line-height: 2em;
    padding:0.5em 0.5em;
    text-decoration: none;

}
nav>ul>li>a:hover{
    color: black;
}
#main_nav_link{
    font-size: larger;
}
.big_title{
    font-style: italic;
}
.city{
    text-decoration: underline;
}
ul{
    list-style-type: none;
}
#map {
    height: 400px;
    width: 600px;
    background: palegoldenrod;
    border: groove cadetblue 12px;
}
